@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-links {
  display: none;
}

.content {
  display: grid;
  grid-template-columns: 230px 1fr;
  gap: 40px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  justify-content: center;
}

.range-input input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 15.38px;
  border-radius: 15.38px 0px 15.38px 0px;
  background: #62c3c6;
  pointer-events: auto;
  -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 15.38px;
  border: none;
  border-radius: 15.38px 0px 15.38px 0px;
  background: #62c3c6;
  pointer-events: auto;
  -moz-appearance: none;
}

@media only screen and (max-width: 600px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

@media only screen and (min-width: 1500px) {
  .nav-links {
    display: block;
  }
}
